name: Build and release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: Setup .NET Core SDK 6.0.x
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0.x
      - name: Install dependencies
        run: dotnet restore
      - name: Build
        run: >
          dotnet publish
          --configuration Release
          -p:PublishSingleFile=true
          --self-contained false -r win-x64
          -o ./inno
      - name: Download netcorecheck
        shell: pwsh
        run: |
          wget https://go.microsoft.com/fwlink/?linkid=2135256 -O netcorecheck.exe
          wget https://go.microsoft.com/fwlink/?linkid=2135504 -O netcorecheck_x64.exe
      - name: Package installer
        uses: nadeemjazmawe/inno-setup-action-cli@v6.0.5
        with:
          filepath: './NOWT.iss'
      - name: Rename installer
        shell: pwsh
        run: |
          Rename-Item ./inno/out/NOWT.exe NOWT-Installer.exe
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ./inno/out/NOWT-Installer.exe
            ./inno/NOWT.exe
